/* .titleBox {
    padding-left: 14%;
    font-size: 22px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 20%;
}

.inputBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20%;
}

.idInput {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #FFFFFF;
}

.idInput::placeholder {
    text-align: center;
}

.alertBox {
    margin-top: -22%;
    padding: 14%;
    font-size: 14px;
    color: #FA6262;
} */